/* src/YourCSSFile.css */
.card-body {
    color: #fff; /* Change the text color */
    background-color: rgba(0, 0, 0, 0.6); /* Example background */
}

.card-title {
    font-size: 3rem;
}

.card-text {
    font-size: 1.5rem;
}

button {
    font-size: 1.2rem;
}
